.home {
  height: 100%;
  padding-top: 75vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background-color: rgb(3, 6, 54);
  font-weight: bold;
  font-size: larger;
  background-image: url('../img/sass.png');
  background-position: 18rem;
  background-repeat: no-repeat;

}
